html,
body {
  margin: 0;
  padding: 0;
}

img {
  width: 15vh;
  height: 15vh;
}

.main-image {
  width: 75vh;
  height: 100vh;
}

.outer-container {
  display: flex;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

.inner-container > h1 {
  padding: 24px;
}

.input-fields {
  display: flex;
  box-shadow: 0px 5px 5px rgb(222, 220, 220);
  padding: 24px;
  gap: 100px;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
}

.overlay {
  display: flex;
  position: absolute;
  height: 20vh;
  top: 15%;
  min-width: 100%;
  background-color: #000000f4;
  opacity: 0.5;
  overflow: hidden;
  color: whitesmoke;
  font-family: "Orbitron", sans-serif;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}

.credit {
  display: flex;
  position: absolute;
  bottom: 2%;
  right: 0;
  left: 0;
  opacity: 0.7;
  overflow: hidden;
  color: whitesmoke;
  font-family: "Orbitron", sans-serif;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

a:visited {
  color: inherit;
}
