html,
body {
  margin: 0;
  padding: 0;
}

img {
  width: 15vh;
  height: 15vh;
}

.main-image {
  width: 60vh;
  height: 100vh;
}

.outer-container {
  display: flex;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

h3,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 36px;
  padding-top: 0;
  padding-bottom: 0;
  color: #233c43;
}

button[type="submit"] {
  margin: 36px;
  margin-bottom: 24px;
  padding: 16px 56px 16px 56px;
  border: 0;
  border-radius: 6px;
  background-color: #125e8a;
  color: #f6f5f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 5px 5px rgb(222, 220, 220);
}

button[type="submit"]:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.input-fields {
  display: flex;
  padding: 36px;
  padding-top: 0;
  gap: 100px;
  box-shadow: 0px 5px 5px rgb(207, 207, 207);
}

.col {
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
}

.overlay {
  display: flex;
  position: absolute;
  height: 20vh;
  top: 15%;
  min-width: 100%;
  background-color: #101719;
  opacity: 0.5;
  overflow: hidden;
  color: #f6f5f4;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}

.credit {
  display: flex;
  position: absolute;
  bottom: 2%;
  right: 0;
  left: 0;
  opacity: 0.7;
  overflow: hidden;
  color: #f6f5f4;
  font-family: "Orbitron", sans-serif;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

a:visited {
  color: inherit;
}

label {
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 20px 20px 0px 0px;
  margin-bottom: 2px;
  color: #204b57;
}

input {
  padding: 6px;
  min-width: 220px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

input:focus {
  box-shadow: 0px 2px 5px rgb(207, 207, 207);
}

input:invalid {
  border: 1px solid red;
}

.grey {
  padding-top: 15vh;
  padding-bottom: 5vh;
  background-color: #f7f8fa;
}

.inner-container > p {
  padding-right: 25vh;
}

h3 {
  font-size: 20px;
}
